.main-proj{
    width: 100%;
    height: 160vh;
    background: #fff;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    
h1{
    font-size: 43px;
    font-weight: 400;
    margin-left: 95px;
    margin-top: 22px;
}

    .projs{
        width: 85%;
        height: 90%;
        // border: 1px solid gold;
        margin: 35px auto;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .project1{
            width: 49.5%;
            height: 100%;
            // border: 1px solid blue;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .project1-img{
                width: 99%;
                height: 76%;
                // border: 1px solid red;
                overflow: hidden;
                cursor: pointer;
                margin-top: 2px;


                img {
                    width: 100%;
                    object-fit: cover;
                    transition: .5s;

                    &:hover{
                        transform: scale(1.2);
                        transition: .5s;
                    }
                }
            }

            a{
                text-decoration: none;
                color: black;
                font-weight: 500;
                font-size: 15px;
                margin-left: -360px;
                margin-top: 25px;
                
                &:hover{
                    color: #7180AC;
                    cursor: pointer;
                }
            }

            button{
                width: 170px;
                height: 37px;
                background-color: #2F302E;
                color: #fff;
                font-size: 16px;
                border-radius: 15px;
                border: none;
                transition: .3s;
                margin-top: 40px;

                &:hover{
                    background: #7180AC;
                    cursor: pointer;
                    transition: .3s;
                }
            }

            .date{
                width: 100%;
                height: 10.5%;
                border: 1px solid #EFEFEF;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                margin-top: 20px;
                padding: 13px 0;

                p{
                    color: #898989;
                    display: flex;
                    align-items: center;
                    font-size: 15px;

                    svg{
                        color: #D7DBDB;
                    }
                }
            }
        }

        .project2 {
            width: 49.5%;
            height: 73%;
            // border: 1px solid blue;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;

            .project2-img {
                width: 99%;
                height: 68.5%;
                // border: 1px solid red;
                overflow: hidden;
                cursor: pointer;
                margin-top: 2px;

                img{
                    width: 100%;
                    object-fit: cover;
                    transition: .5s;
                    
                    &:hover {
                        transform: scale(1.2);
                        transition: .5s;
                    }
                }
            }
            a {
                text-decoration: none;
                color: black;
                font-weight: 500;
                font-size: 15px;
                margin-left: -300px;
                margin-top: 25px;
                
                &:hover {
                    color: #7180AC;
                    cursor: pointer;
                }
            }
            
            button {
                width: 170px;
                height: 37px;
                background-color: #2F302E;
                color: #fff;
                font-size: 16px;
                border-radius: 15px;
                border: none;
                transition: .3s;
                margin-top: 40px;
                
                &:hover {
                    background: #7180AC;
                    cursor: pointer;
                    transition: .3s;
                }
            }
            
            .date {
                width: 100%;
                height: 10.5%;
                border: 1px solid #EFEFEF;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                margin-top: 20px;
                padding: 13px 0;
                
                p {
                    color: #898989;
                    display: flex;
                    align-items: center;
                    font-size: 15px;
                    
                    svg {
                        color: #D7DBDB;
                    }
                }
            }
        }
    }
}